{% extends "bulma_layout.html" %}

{% block page_title %}HUUG.BAAN : IDEABOOK{% endblock %}

{% block page_content %}
<div class='container'>
    <div class='content'><h1>Your Ideabooks</h1><a class='button is-success'>Add New Ideabook</a></div>
    <div class='columns'>
    {% for ib in current_user.ideabooks %}
        {% if loop.index0 % 3 == 0 %}
            <div class='tile tile-ancestor'>
        {% endif %}
        {% if ib.photos %}
        <div class='tile is-parent is-4'>
            <div class='card is-fullwidth tile is-child box'>
                <figure class='image is-4by3'>
                    <img src="{{ ib.photos[0].img_url }}"/>
                </figure>
                <div class='card-content'>
                    <strong class='title is-5'><a href="{{ url_for('ideabook.show', ideabook_id=ib.id) }}">{{ ib.name }}</a></strong>
                </div>
                <div>
                    <i class='subtitle'>{{ ib.photos | length }} photo(s)</i>
                </div>
            </div>
        </div>
        {% else %}
        <div class='tile is-parent is-4'>
            <h4>{{ ib.name }}</h4>
            <h5>{{ ib.photos | length }} photo(s)</h5>
        </div>
        {% endif %}

        {% if loop.index0 % 3 == 2 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
