{% extends "bulma_layout.html" %}
{% from "app_widget.html" import ideabook_card %}


{% block page_content %}
<div class='container'>
    <div class='content' style='margin-top: 1.3rem;'>
        <h1 class='title'>Photos of Ideabook {{ ideabook.name }}</h1>
    </div>
    <div class='columns is-multiline'>
        {% for photo in ideabook.photos %}
        <div class='column is-one-quarter'>
            <div class='card is-fullwidth'>
                <figure class='image is-4by3'>
                    <img src="{{ photo.img_url }}" />
                </figure>
                <div class='card-content'>
                    <strong class=''>
                        <a href="{{ photo.get_link() }}">{{ photo.item.name }}</a>
                    </strong>
                    <p>{{ photo.notes }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
