{% extends "layout.html" %}
{% block page_title %}Huugbaan{% endblock %}

{% block page_content %}
<div id="fb-root"></div>
<div class="container">
<p>You are logged in as {{ user.username }}!</p>

<p>Associated:</p>
{% for assoc in backends.associated %}
  <div>
    {{ assoc.provider }}
    <form method="post" action="{{ url_for("social.disconnect", backend=assoc.provider, association_id=assoc.id) }}">
      <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
      <button>Disconnect</button>
    </form>
  </div>
{% endfor %}

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{{ url_for("social.auth", backend=name) }}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
