{% extends "bulma_layout.html" %}

{% block page_js %}
    <script src="/static/js/jssocials.min.js"></script>
    <script type="text/javascript" charset='utf-8'>
        $(".social-shares").each(function(){
            console.log(this.dataset)
            $(this).jsSocials({
                url: document.location.origin + this.dataset.url,
                text: this.dataset.text,
                showLabel: false,
                showCount: false,
                shareIn: 'popup',
                shares: ["facebook", "twitter", "googleplus"]
            });
        });
    </script>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/static/css/jssocials.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/jssocials-theme-classic.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block page_content %}
<div class='container' style='padding-top: 1.3em;'>
    <div class='columns'>
        <!-- side filter -->
        <div class='column is-one-quarter is-info'>
            <section class='section'>
            <div class='container'>
                <h1 class='menu-label'><a href='{{ url_for("product_controller.index", reset_filter_prototype_id=True) }}'>Type</a></h1>
                <ul class='menu-list'>
                {% for t in prototypes %}
                <li><a {% if session.has_key('filter_prototype_id') and session['filter_prototype_id'] == t.id %} class='is-active' {% endif %}
                       href='{{ url_for("product_controller.index", prototype_id=t.id ) }}'>{{ t.name }}</a></li>
                {% endfor %}
                </ul>

                <hr/>

                <h1 class='menu-label'><a href='{{ url_for("product_controller.index", reset_filter_product_style=True) }}'>Style</a></h1>
                <ul class='menu-list'>
                {% for ps in product_styles %}
                <li><a {% if session.has_key('filter_product_style_id') and session['filter_product_style_id'] == ps.id %} class='is-active' {% endif %}
                       href='{{ url_for("product_controller.index", product_style_id=ps.id ) }}'>{{ ps.name }}</a></li>
                {% endfor %}
                </ul>

                <hr/>

                <h1 class='menu-label'><a href='{{ url_for("product_controller.index", reset_filter_from_to_price=True) }}'>Price</a></h1>
                <ul class='menu-list'>
                    <li class='control'><label class='label'>From</label>
                        <input class='input' type='number' name='from_price' value='{{ session["filter_from_price"] or 0 }}' /></li>
                    <li class='control'><label class='label'>To</label>
                        <input class='input' type='number' name='to_price' value='{{ session["filter_to_price"] }}' /></li>
                    <li>
                        <a onclick='__submit_from_to_price_filter()' 
                           class='button is-primary' >
                               <i class='fa fa-filter'></i>
                               Filter Price
                        </a>
                        <script>
                            var __submit_from_to_price_filter = function(){ 
                                var href = window.location.href;

                                // reset params
                                href = href.replace(/to_price=[^&]*&?/g, '');
                                href = href.replace(/from_price=[^&]*&?/g, '');

                                var from_price = document.getElementsByName('from_price')[0].value;
                                var to_price = document.getElementsByName('to_price')[0].value;

                                if(from_price){
                                    if(/\?/.test(href))
                                        href = href.replace('?', '?from_price=' + from_price + '&');
                                    else
                                        href = href + ('?from_price=' + from_price + '&');
                                }

                                if(to_price){
                                    if(/\?/.test(href))
                                        href = href.replace('?', '?to_price=' + to_price + '&');
                                    else
                                        href = href + ('?to_price=' + to_price + '&');
                                }

                                window.location.href = href;
                            }
                        </script>
                    </li>
                </ul>
            </div>
            </section>
        </div>
        <!-- main list item -->
        <div class='column'>
        <section class='section'>
            <div class='container'>
                <div class='content'>
                    <h2>{{ total }} Home Design Products</h2>
                </div>
            </div>

            <nav class='nav'>
                <div class='nav-left'>
                    <p class="nav-item control">
                      <span class="select">
                        <select>
                          <option>Most All Time Like</option>
                          <option>New Update</option>
                          <option>Most Like in Day</option>
                        </select>
                      </span>
                    </p>
                </div>
                <div class='nav-right'>
                    <nav class='nav-item pagination'>
                        <span>
                            <strong>{{ paginator.from_to_text }}</strong> of <strong>{{ paginator.total_count }} products</strong>
                        </span>
                        <a class='button' href='{{ url_for("product_controller.index", page=paginator.page-1 )}}' {% if not paginator.has_prev %} disabled {% endif %} >Prev</a>
                        <a class='button' href='{{ url_for("product_controller.index", page=paginator.page+1) }}' {% if not paginator.has_next %} disabled {% endif %} >Next</a>
                    </nav>
                </div>
            </nav>
            <hr/>
            <!-- listing -->

            {% for product in products %}<div class='container'>
            <div class='columns'>
                <!-- product block -->
                <div class="column">
                    <a href='{{ url_for("product_controller.show", product_id=product.id) }}' class='title is-6'>
                        <figure class='image' style='margin-bottom: .3em;'>
                            <img src='{{ product.master_image["uri"] }}'>
                        </figure>
                    </a>
                </div>
                <div class="column is-3" style='height: inherit; position: relative;'>
                    <div class='content'>
                        <h3><a href='{{ url_for("product_controller.show", product_id=product.id) }}' class='title is-5'>{{ product.name | truncate(100) }}</a></h3>
                        <p>
                        {% for style in product.styles%}
                            <span class='tag is-small is-info'>{{ style.name }}</span>
                        {% endfor %}
                        </p>
                        <p><strong class='title is-4'>{{ product.sample_price|baht }}</strong></p>
                    </div>
                    <div class='content' style='position: absolute; bottom: 1em; over'>
                        <div class='desc-wrap' style='max-height: 15em; overflow: auto;'>
                            <p class='trix-content'>{{ product.description|safe }}</p>
                        </div>
                        <div class='social-shares' 
                             class='float-left' 
                             data-text="{{ product.name }} - {{ product.description | striptags | truncate(70) }}"
                             data-url='{{ url_for("product_controller.show", product_id=product.id) }}'></div>
                    </div>
                </div>
            </div>
            <hr/>
            {% endfor %}
        </section>
        </div>
    </div>
</div>
{% endblock %}
