{% extends "bulma_layout.html" %}
{% from "app_widget.html" import ideabook_form_modal, init_ideabook_form_modal_js %}

{% block page_css %}
    {{ super() }}
    <style type="text/css" media="screen">
        .thumb-product {
            width: 75px;
            height: 75px;
            border: 1px solid #555;
            cursor: pointer;
        }

        .thumb-product.selected {
            border-color: orange;
        }

        .button.add-to-card {
            width: 100%;
        }

        .column.label {
            text-align: right;
            padding-right: 1.5rem;
        }

        /* social */
        .button-small {
            font-size: .8rem;
            height: 2.8rem;
            line-height: 2.8rem;
            padding: 0 1.5rem;
        }

        .btn-pic-action {
            position: relative;
            margin-top: -0.3rem; 
        }

        .btn-pic-action-wrapper {
            margin-top: 1.3rem;
            margin-left: 10px;
            padding-left: 12px;
        }

        .share-actions {
            font-size: 12px;
        }

        a.disabled {
            pointer-events: none;
        }

        label.qty {
            margin-top: 0.5rem;
        }

        table.product-prop th {
            text-align: right;
        }

        .floater {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img.product {
            vertical-align: middle;
            width: 500px;
        }

        .img-frame {
            width: 100%;
            height: 500px;
            white-space: nowrap;
            text-align: center;
            margin: 1em auto;
            overflow: scroll;
        }
    </style>

{% endblock %}

{% block page_content %}
    <div class='container'>
        <div class='columns'>
            <div class='column is-two-thirds'>
                {% if product.master_image %}
                <div class='img-frame'>
                    <span class='floater'></span>
                    <img class='product' 
                         src="{{ product.master_image['uri'] }}" />
                </div>
                <hr/>
                <div class='thumb-product-warpper'>
                    {% for m in product.images %}
                    <img class='thumb-product' src="{{ product.images[m]['thumb_uri'] }}" data-full-size="{{ product.images[m]['uri'] }}" />
                    {% endfor %}
                </div>
                {% else %}
                    <img class='product' src="/static/image/default-product-large.jpg" />
                {% endif %}
            </div>
            <div class='column'>
                <section class='section'>
                    <div class='content'>
                        <h1>{{ product.name_en }}</h1>
                        <nav class='nav'>
                            <div class='nav-left'>
                                <strong class='nav-item title'>{{ product.sample_price|baht }}</strong>
                            </div>
                            <div class='nav-right'>
                                <span class='nav-item'>
                                <label for='qty'class='qty label' >QTY:&ensp;&ensp;</label>
                                <input id='qty' class='input nav-item' 
                                       style='width: 70px;'
                                       type='number' value=1 min='1' />
                                </span>
                            </div>
                        </nav>
                        <span><a id='add-to-card' href='#' class='button is-success add-to-card'> <i class='fa fa-shopping-cart fa-2x' style='margin-right: 1rem;'></i> Add To Card </a></span>
                    </div>
                    <!-- SHARE SOCIAL -->
                    <nav class='nav'>
                        <div class='nav-left'>
                            <div id='social-shares' 
                                 class='float-left' 
                                 data-text="{{ product.name }} - {{ product.description | striptags | truncate(70) }}"
                                 data-url='{{ url_for("product_controller.show", product_id=product.id) }}'></div>
                        </div>
                        <div class='nav-right>'>
                            {% if current_user.is_authenticated %}
                                {% if current_user.has_product_in_ideabook(product.id) %}
                                    <div class='btn-pic-action-wrapper float-right'>
                                        <a id='btn-action-ideabook' class='button button-outline btn-pic-action remove-action button-small'>Remove From Ideabook</a>
                                    </div>
                                {% else %}
                                    <div class='btn-pic-action-wrapper'>
                                        <a id='btn-action-ideabook' class='button btn-pic-action button-small'>Save To Ideabook</a>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class='btn-pic-action-wrapper'>
                                    <a id='btn-action-ideabook' class='button btn-pic-action button-small'>Save To Ideabook</a>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                    {% if product.description_en %}
                        <div class='trix-content'>{{ product.description_en|safe }}</div>
                    {% endif %}
                <hr/>
                {% if product.prototype.properties %}
                <details class='content' open>
                    <summary><span class='title is-5'>Product Specifications</span></summary>
                    <p>
                    <table class='table is-bordered product-prop'>
                    {% for attr in product.prototype.properties %}
                        <tr> 
                            <th>
                                <strong>{{ attr }}</strong>
                            </th>
                            <td class='value'>
                                {{ product.properties[attr] }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for attr in product.prototype.optional_properties %}
                        <tr> 
                            <th>
                                <strong>{{ attr }}</strong>
                            </th>
                            <td class='value'>
                                {{ product.properties[attr] }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for attr in product.prototype.choose_properties %}
                        <tr> 
                            <th>
                                <strong>{{ attr }}</strong>
                            </th>
                            <td class='value'>
                                {{ product.properties[attr] }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for attr in product.prototype.check_properties %}
                        <tr> 
                            <th>
                                <strong>{{ attr }}</strong>
                            </th>
                            <td class='value'>
                                {% if product.properties[attr] %} Yes {% else %} No {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    </p>
                </details>
                <hr/>
                {% endif %}
                {% if product.related_products %}
                <details class='content' open>
                    <summary><span class='title is-5'>Related Products</span></summary>
                    <p>
                    <div class='columns is-multiline'>
                        {% for rp in product.related_products %}
                        <div class='column is-4'>
                            <figure class='image is-4by3'>
                                <img class='scene-image' src='{{ rp.master_image["uri"] }}' />
                            </figure>
                            <div class='content'>
                                <a href='{{ url_for("product_controller.show", product_id=rp.id)}}'>
                                    <strong class='subtitle is-6' style='word-wrap: break-word; width: inherit;'>{{ rp.name_en }}</strong>
                                </a><br/>
                                <strong>{{ rp.sample_price | baht }}</strong></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </p>
                </details>
                <hr/>
                {% endif %}
                {% if related_scenes %}
                <details class='content' open>
                    <summary><span class='title is-5'>Related Photo</span></summary>
                    <p>
                    <div class='columns is-multiline'>
                    {% for s in related_scenes %}
                        <div class='column is-4'>
                            <figure class='image is-4by3'>
                                <img class='scene-image' src='/scene_images/{{ s.uri }}' />
                            </figure>
                            <div class='content'>
                                <a href='{{ url_for("scene_controller.show", sid=s.id)}}'>
                                    <strong class='subtitle is-6' style='word-wrap: break-word; width: inherit;'>{{ s.name }}</strong>
                                </a><br/>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </p>
                </details>
                {% endif %}
            </div>
        </div>
    </div>
    {{ ideabook_form_modal(ideabooks, "product", product.id) }}
{% endblock %}

{% block page_js %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
        // switch image display
        $(".thumb-product").click(function(){
            var src = $(this).attr('data-full-size');        
            if(src) $('.product').attr('src', src);
            $(".thumb-product").removeClass("selected");
            $(this).addClass("selected");
        });

        // init social sharing
        var _social_shares_ctx = $('#social-shares')[0];
        $("#social-shares").jsSocials({
            url: document.location.origin + _social_shares_ctx.dataset.url,
            text: _social_shares_ctx.dataset.text,
            showLabel: false,
            showCount: false,
            shareIn: 'popup',
            shares: ["facebook", "twitter", "googleplus"]
        });


        $('#add-to-card').click(function(){
            var btn = $(this);
            {% if current_user.is_authenticated %}
            $.ajax({
                url: '/user/add_to_cart',
                type: 'post',
                data: JSON.stringify({ 
                    product_id: {{ product.id|safe }}, 
                    qty: +$('#qty').val() 
                }),
                contentType: 'application/json',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token() }}");
                    btn.addClass('disabled');
                },
                success: function(res){
                    btn.removeClass('disabled');
                    if(res.success){
                        // update item count
                        alert("Product is added to your cart.");
                        // g.updateCartItem(res.item_total);
                        window.location.reload();
                    } else {
                        alert(res.message);
                    }
                }
            });
            {% else %}
                window.location.href = "{{ url_for('site.login') }}"
            {% endif %}
        });

        
        {{ init_ideabook_form_modal_js("#btn-action-ideabook") }}
    });
    </script>
{% endblock %}
