{% extends "bulma_layout.html" %}

{% from '_form.html' import form_errors %}
{% from '_bulma_form.html' import b_vertical_field %}

{% block page_title %}HUUGBAAN{% endblock %}

{% block page_content %}
    <style type="text/css" media="screen">
        .login-list li {
            padding: 0.2rem;
        }
    </style>

    <div class='container'>
        <div class='content' style='text-align: center; padding-top: 1rem;'>
            <h1><strong>THE NEW WAY TO DESIGN YOUR HOME</strong></h1>
        </div>
        <div class='columns is-mobile'>
            <div class='column is-4 is-offset-4'>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                    <ul class='login-list'>
                        <li> <a class='button is-info is-fullwidth'  
                                style='background-color: #3B5998;'
                               href="{{ url_for("social.auth", backend="facebook") }}"><strong>Sign in with Facebook</strong></a> </li>
                        <li> <a class='button is-info is-fullwidth' 
                                style='background-color: #DD4B39;'
                                                               href="{{ url_for("social.auth", backend="google-oauth2") }}"><strong>Sign in with Google</strong></a> </li>
                    </ul>
                    </div>
                </section>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                        <div class='content has-text-centered'><h3 class='heading'>or Sign in with Email</h3></div>
                        <form class='container' method="post" action="{{ url_for('site.login') }}">
                            <div class='column'>
                                {{ signin_form.csrf_token() }}
                                {{ b_vertical_field(signin_form.email) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signin_form.password) }}
                            </div>
                            <div class='column'>
                                <button type="submit" name='submit' value='sign_in' class="button is-primary">Sign in</button>
                            </div>
                        </form>
                    </div>
                </section>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                        <div class='content has-text-centered'><h3 class='heading'>Sign Up</h3></div>
                        <form class='container' method="post" autocomplete="off"
                            action="{{ url_for('site.login') }}">
                            <div class='column'>
                                {{ signup_form.csrf_token() }}
                                {{ b_vertical_field(signup_form.first_name) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.last_name) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.email) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.password) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.repassword) }}
                            </div>
                            <div class='column'>
                                <button type="submit" name='submit' value='sign_up' class="button is-primary">Sign up</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
