{% extends "hb.html" %}
{% from '_form.html' import row_field %}

{% block page_title %}Sign up{% endblock %}

{% block page_content %}
    <style type='text/css' media="screen">
    .signup-wrapper {
        width: 300px;
    }

    .form-error-wrapper {
        padding: 2rem;
        color: red;
        width: 500px;
    }
    </style>
    <div class="container signup-wrapper" style='text-align: center;'>
        <h3>Sign up</h3>
        <form class='container' method="post" autocomplete="off" action="{{ url_for('site.signup') }}">
            <div class='row'>
                {{ form.csrf_token() }}
                {{ form.name(placeholder='Name') }}
            </div>
            <div class='row'>
                {{ form.email(placeholder='Email') }}
            </div>
            <div class='row'>
                {{ form.password(placeholder='Password') }}
            </div>
            <div class='row'>
                {{ form.repassword(placeholder='Retype Password') }}
            </div>
            <div class='form-error-wrapper'>
            {% for k in form.errors %}
                <div class='row error'>
                    {{ form.errors[k][0] }}
                </div>
            {% endfor %}
            </div>
            <div class='column'>
                <button type="submit" class="button">Sign up</button>
            </div>
        </form>
    </div>
{% endblock %}
