{% macro b_vertical_field(field) %}
    {{ field.label(class='label') }}
    {% if field.errors %}
      <p class="control has-icon has-icon-right">
        {{ field(class='input is-danger', **kwargs) }}
        <i class="fa fa-warning"></i>
        <span class="help is-danger">{{ field.errors[0] }}</span>
      </p>
    {% else %}
      <p class="control">
          {{ field(class='input', **kwargs) }}
      </p>
    {% endif %}
{% endmacro %}
