{% macro field_errors(field) %}
    <ul class="list-form-errors text-danger list-unstyled">
        <li>{{ field.errors[0] }}</li>
    </ul>
{% endmacro %}


{% macro vertical_field(field) %}
    <div class="form-group clearfix">
        {{ field.label() }}
        {{ field(class="form-control", placeholder=field.description, **kwargs) }}
        {{ field_errors(field) }}
    </div>
{% endmacro %}


{% macro row_field(field) %}
    <div class="row">
        {{ field(class="form-control", placeholder=field.description, **kwargs) }}
        {{ field_errors(field) }}
    </div>
{% endmacro %}


{% macro form_errors(form) %}
    <div class='column' style='text-align: center; padding: 2rem; color: red;'>
        {% for k in form.errors %}
            <div class='row'>
                {{ form.errors[k][0] }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro field_per_row(field) %}
    {{ field.label(placeholder=field.description, **kwargs) }}
    {{ field(class="form-control", placeholder=field.description, **kwargs) }}
    {% if field.errors %}
        {{ field_errors(field) }}
    {% endif %}
{% endmacro %}
