{% macro ideabook_form_modal(ideabooks, source, source_id) %}
<div style='display: none; width: 300px;' id='save-to-ideabook-modal'>
    <form class='container' id='frm-save-to-ideabook' action='{{ url_for("ideabook.add_photo") }}' method='post'>
        <input type='hidden' value='{{ csrf_token() }}' name='csrf_token'/>
        <input type='hidden' name='photo_source' value='{{ source }}' />
        <input type='hidden' name='photo_id' value='{{ source_id }}' />
        <p class='control'>
            <span class='select'>
                <select id='ideabooks-list' name='ideabook_id' class='input'>
                    <option value='' disabled selected style='margin-bottom: 0.3em; font-weight: bold;'>Select Your Ideabook</option>
                    {% for ib in ideabooks %}
                        <option value='{{ ib.id }}'>{{ ib.name }}</option>
                    {% endfor %}
                    <option value='new' style='padding: 0.2em; font-weight: bold; border-top:1px solid #ccc; background-color: #eee;'>+ Add New Ideabook</option>
                </select>
            </span>
        </p>
        <p id='new-ideabook-panel' class='control' style='display: none; margin-bottom: 0.5rem;'>
            <label class='label'>New's Ideabook name:</label>
            <input id='new-ideabook-name' 
                   class='input' 
                   type='text' 
                   name='new_ideabook_name' 
                   value='' placeholder='new ideabook name' />
        </p>
        <p class='control'>
            <textarea class='textarea' name='notes' placeholder='Note ...' required></textarea>
        </p>
        <p class='control'>
            <input type='submit' id='btn-save-to-ideabook' class='button is-success' value='Save To Ideabook'>
        </p>
    </form>
</div>
{% endmacro %}

{% macro init_ideabook_form_modal_js(jq_button_id) %}
    //////////////////////////
    // SAVE TO IDEABOOK ACTION
    // docs: http://stephanwagner.me/jBox/documentation
    //////////////////////////

    $('{{ jq_button_id }}').jBox('Modal', {
        title: 'Save to ideabook',
        content: $('#save-to-ideabook-modal')
    });

    $('#ideabooks-list').change(function(){
        var v = $(this).val();
        if(v == 'new'){
           $('#new-ideabook-panel').show();
        } else{
           $('#new-ideabook-panel').hide();
           $('#new-ideabook-name').val('');
        }
    });
{% endmacro %}
