<!doctype html>
<html>
<head>
    <title>{% block page_title %}HUUG.BAAN{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="/static/image/favicon.png">

    <!--
    x<link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">
    x<link rel="stylesheet" href="/static/css/libs/normalize.css">
    x<link rel="stylesheet" href="/static/css/bulma.css" type="text/css" media="screen" charset="utf-8">
    x<link rel="stylesheet" href="/static/css/libs/tooltipster.css" type="text/css" media="screen" charset="utf-8">
    x<link rel="stylesheet" href="/static/css/libs/tooltipster-shadow.css" type="text/css" media="screen" charset="utf-8">
    x<link rel="stylesheet" href="/static/css/libs/trix.css" type="text/css" media="screen" charset="utf-8">
    x<link rel="stylesheet" href="/static/css/libs/unslider.css" type="text/css" media="screen" charset="utf-8">
    -->
    <link rel="stylesheet" href="/static/build/prod.css" type="text/css" media="screen" charset="utf-8">

    {# CSS libs #}
    {# CSS layout #}
    {% block page_css %}{% endblock %}
    {# JS global vars #}
    <script type="text/javascript">
        window.g = {
            domain: "{{ config.SITE_DOMAIN }}",
            csrfToken: "{{ csrf_token() }}",
            rules: {{ rules|safe }},
            method: "{{ request.method }}",
            updateCartItem: function(qty){
                if(qty) $(".items-in-cart").html(qty);
            }
        };
    </script>
    {# JS libs #}
    <!--
    <script src="/static/js/libs/respond.min.js"></script>
    <script src="/static/js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/libs/jquery.tooltipster.js"></script>
    <script src="/static/js/libs/trix.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/libs/unslider-min.js" type="text/javascript" charset="utf-8"></script>
    -->
    <script src="/static/build/prod.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/init.js"></script>
</head>

<body>

{# Flash message #}

{% with message = get_flashed_messages()[0] %}
    {% if message %}
        <div class='notification is-success flash-message'>
            {{ message }}
        </div>
    {% endif %}
{% endwith %}
<nav class='nav'>
    <div class='container'>
        <div class='nav-left' style='flex: 2;'>
            <a class='nav-item is-large' 
               style="font-size: 2rem;"
               href="{{ url_for('site.index') }}">HUUG.BAAN</a>
            <div class='nav-left'>
            <span class='nav-item' style='width: 100%;'>
                <form class='control-groups' 
                      style='width: 100%;'
                      method='get' 
                      action="{{ url_for('site.search') }}">
                    <p class='control has-icon'>
                        <input class='input is-medium' name='search' placeholder='Seach Scenes, Products & More ...' value='{{ search or "" }}' />
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </p>
                </form>
            </span>
            </div>
        </div>
        <div class="nav-right" style='margin-right: 3.3em;'>
            {% if current_user.is_authenticated %}
            <span class='nav-menu'>
            <a id='cart' class='nav-item' href="{{ url_for('user_controller.view_cart') }}">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                <b class='items-in-cart fa-small nav-item'>{{ item_count_in_cart }}</b>
            </a>
            </span>
            <a id='avatar' class='nav-item'>
                <img src='{{ user.get_avatar() }}' title='{{ user.username }}' />
            </a>
            <a id='username' href="#" class='nav-item username'>Your Profile</a>
            {% else %}
            <span class='nav-menu'>
                <a class='nav-item' href="{{ url_for('site.login') }}">
                    <i class="fa fa-shopping-cart fa-2x nav-item" aria-hidden="true"></i>
                    <b class='items-in-cart bigger'> {{ item_count_in_cart }} </b>
                </a>
            </span>
            <span class='nav-menu'>
                <a class='nav-item' href="{{ url_for('site.login') }}">
                    <i class="fa fa-user fa-2x nav-item" aria-hidden="true"></i>  Sign in</a>
            </span>
            {% endif %}
        </div>
    </div>
</nav>

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
        <a class="nav-item is-tab {% if request.path == url_for('scene_controller.index') %} is-active {% endif %}" 
        href="{{ url_for('scene_controller.index') }}">
        <i class="fa fa-picture-o fa-lg" aria-hidden="true" style='margin-right: 0.3em;'></i>Photo</a>

        <a class="nav-item is-tab {% if request.path == url_for('product_controller.index') %} is-active {% endif %}" 
            href="{{ url_for('product_controller.index') }}">Product</a>
    </div>
  </div>
</nav>

<div id="main">
    {% block page_content %}{% endblock %}
</div>

<div id='footer' class='footer'>
    <div class='container'>
        <div id='copyright' class='content has-text-centered' >
            <strong>© 2016 HUUGBAAN</strong>
        </div>
    </div>
</div>

{# JS layout #}
<script src="/static/js/layout.js"></script>

{% if current_user.active %}

<script type="text/javascript" charset="utf-8">

    var tooltipHtml = `
    <aside class='menu'>
        <strong class='menu-label'>
            {{ current_user.username }}
        </strong>
        <ul id='usermenu' class='menu-list' >
            {% if current_user.is_admin %}
                <li><a href='{{ url_for('admin.index') }}'>Admin Panel</a> </li>
            {% endif %}
            <li><a href='{{ url_for('user_controller.edit') }}'>Edit Profile</a> </li>
            <li><a href='{{ url_for('ideabook.list') }}'>Your Ideabook</a> </li>
            <li><a href="{{ url_for('site.logout') }}">Sign Out</a> </li>
        </ul>
    </aside>
    `;

    $('#username').tooltipster({
        theme: 'tooltipster-shadow',
        interactive: true,
        speed: 100,
        content: $(tooltipHtml)
    });
</script>

    {% if line_items %}
    <!--
    <script type="text/javascript" charset="utf-8">
        var itemInCart = `
            <div class='cart'>
                {% for item in line_items %}
                <div class='is-small'>
                <article class='media'>
                    <figure class='media-left'>
                        <p class='image is-64x64'>
                            <img class='product-image' src="{{ item.variant.product.master_image['thumb_uri'] }}" />
                        </p>
                    </figure>
                    <div class='media-content'>
                        <p class='content'>
                            <strong><a class='cart-product-link' href='{{ url_for("product_controller.show", product_id=item.variant.product.id) }}' >{{ item.variant.product.name_en }}</a></strong>
                            <br/>
                            <strong><small class='cart-item-qty' >Quantity: {{ item.qty }}</small></strong>
                        </p>
                    </div>
                </article>
                </div>
                {% endfor %}
                <article class='container'>
                    <div class='columns'>
                        <div class='column'>
                            <a href='{{ url_for("user_controller.view_cart") }}' class='button is-fullwidth is-primary view-cart'>View Cart</a>
                        </div>
                    </div>
                </article>
            </div>
        `;

        $('#cart').tooltipster({
            theme: 'tooltipster-shadow',
            interactive: true,
            contentAsHTML: true,
            speed: 100,
            content: $(itemInCart),
            contentCloning: false
        });
    </script>
    -->
    {% endif%}

{% endif %}

{# JS page #}
{% block page_js %}{% endblock %}
</body>
</html>
