<!doctype html>
<html>
<head>
    <title>{% block page_title %}HUUG.BAAN{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block meta %}{% endblock %}
    <link rel="Shortcut Icon" href="/static/image/favicon.png">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="/static/css/milligram.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/libs/tooltipster.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/libs/tooltipster-shadow.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/hb.css" type="text/css" media="screen" charset="utf-8">

    {# CSS libs #}
    {# CSS layout #}
    {% block page_css %}{% endblock %}
    {# JS global vars #}
    <script type="text/javascript">
        window.g = {
            domain: "{{ config.SITE_DOMAIN }}",
            csrfToken: "{{ csrf_token() }}",
            rules: {{ rules|safe }},
            method: "{{ request.method }}",
            updateCartItem: function(qty){
                if(qty) $(".items-in-cart").html(qty);
            }
        };
    </script>
    {# JS libs #}
    <script src="/static/js/libs/respond.min.js"></script>
    <script src="/static/js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/libs/jquery.tooltipster.js"></script>
    <script src="/static/js/libs/trix.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/init.js"></script>
</head>

<body>

{# Flash message #}

{% with message = get_flashed_messages()[0] %}
    {% if message %}
        <style>
            .alert {
                padding: 0.3rem;
                font-weight: bold;
                width: 100%;
            }
        </style>
        <div class='container'>
            <div class='row'>
                <div class="alert alert-info flash-message">{{ message }}</div>
            </div>
        </div>
    {% endif %}
{% endwith %}
<div id="header-menu-wrapper" >
    <div class="container">
        <div class="row menu menu-head">
            <ul>
                <li class='float-left'>
                    <h5 class='title'><a href="{{ url_for('site.index') }}">HUUG.BAAN</a></h5>
                </li> 
                <li class='search'>
                    <form method='get' action="{{ url_for('product_controller.index') }}">
                        <input name='search' placeholder='Seach Scenes, Products & More ...' value='{{ search or "" }}' />
                        <a class='icon-search float-left' href='#'><i class="fa fa-search" aria-hidden="true"></i></a>
                    </form>
                </li> 
                {% if current_user.is_authenticated %}
                    <li id='username' class='username-menu tooltip' style='float:right;'>
                        <a href="#" class='username'>{{ user.username }}</a>
                    </li>
                    <li id='avatar' style='float:right;'>
                        <img src='{{ user.avatar }}' width='30px' height='30px' />
                    </li>
                    <li id='cart' style='float:right;margin-right: 10px;'>
                        <a class='button button-outline no-border' href="#">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            <b class='items-in-cart fa-small'>{{ item_count_in_cart }}</b>
                        </a>
                    </li>
                {% else %}
                    <li style='float:right;'>
                        <a class='button button-outline no-border' href="{{ url_for('site.login') }}">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>  Sign in</a>
                    </li>
                    <li style='float:right;'>
                        <a class='button button-outline no-border' href="{{ url_for('site.login') }}">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            <big><b class='items-in-cart bigger'> {{ item_count_in_cart }} </b></big>
                        </a>
                    </li>
                    <!--
                    <li style='float:right;'>
                        <a class='button button-outline no-border' href="{{ url_for('site.signup') }}">
                            <i class="fa fa-user fa-lg" aria-hidden="true"></i>  Sign up</a>
                    </li>
                    -->
                {% endif %}
            </ul>
        </div>
        <div class="row menu menu-sub">
            <ul class="menu-list">
                <li>
                    <a class="custom" href="{{ url_for('scene_controller.index') }}">
                        <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                        <b>SCENES</b>
                    </a>
                </li>
                <li>
                    <a class="custom" href="{{ url_for('product_controller.index') }}">
                        <b>PRODUCTS</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{# Please DO NOT change the id below #}
<div id="main" class='container'>
    {% block page_content %}{% endblock %}
</div>

<hr style='visibility: hidden;'/>

<div id='footer'>
    <div class='container'>
        <div id='copyright' style="text-align: center;">
            <b>© 2016 HUUGBAAN</b>
        </div>
    </div>
</div>

{# JS layout #}
<script src="/static/js/layout.js"></script>

{% if current_user.active %}

<style type="text/css" media="screen">
    #usermenu {
        list-style: none;
        width: 150px;
    }

    #usermenu li {
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }
</style>

<script type="text/javascript" charset="utf-8">

    var tooltipHtml = `
    <div>
        <h6>{{ current_user.name }}</h6>
        <ul id='usermenu' >
            {% if current_user.is_admin %}
                <li><a href='{{ url_for('admin.index') }}'>Admin Panel</a> </li>
            {% endif %}
            <li><a href='{{ url_for('user_controller.edit') }}'>Edit Profile</a> </li>
            <li><a href='{{ url_for('ideabook.list') }}'>Your Ideabook</a> </li>
            <li><a href="{{ url_for('site.logout') }}">Sign Out</a> </li>
        </ul>
    </div>
    `

    $('#username').tooltipster({
        theme: 'tooltipster-shadow',
        interactive: true,
        speed: 100,
        content: $(tooltipHtml)
    });

</script>


    {% if line_items %}
    <style type="text/css" media="screen">
        .cart {
            padding: 0px;
            margin: 0px;
            width: 250px;
        }

        .cart .cart-list {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }

        .cart .cart-list-items {
            display: table;
            list-style: none;
            padding-bottom: 1.4rem;
            padding-top: 0.7rem;
            border-bottom: 1px solid #ccc;
            width: 100%;
        }

        .cart .product-image {
            width: 50px;
            height: 50px;
        }

        .cart .cart-product-link {
            display: block;
            line-height: 1.5rem;
            max-height: 3.3rem;
            min-height: 3.3rem;
            word-wrap: break-word;
            overflow: hidden;
            width: 150px;
        }

        .cart .product-detail {
            display: block;
            margin: 0 0.7rem;
        }

        .cart .view-cart {
            font-size: 0.8rem;
            padding: 0 0.3rem;
            height: 2.8rem;
            line-height: 2.8rem;
            padding: 0 1.5rem;
            width: 80%;
        }

        .cart .cart-action {
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
    </style>
    <script type="text/javascript" charset="utf-8">
        var itemInCart = `
            <div class='cart'>
                <ul id='line-items' class='cart-list'>
                    {% for item in line_items %}
                    <li class='cart-list-items'>
                        <span class='float-left' style='margin-left: 0.3rem;' >
                            <img class='product-image' src="{{ item.variant.product.master_image['thumb_uri'] }}" />
                        </span>
                        <span class='float-left product-detail'>
                        <a class='cart-product-link' href='{{ url_for("product_controller.show", product_id=item.variant.product.id) }}' >{{ item.variant.product.name_en }}</a>
                            <small class='cart-item-qty' >Quantity: {{ item.qty }}</small>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <div class='column cart-action'>
                    <a href='{{ url_for("user_controller.view_cart") }}' class='button view-cart'>View Cart</a>
                </div>
            </div>
        `;

        $('#cart').tooltipster({
            theme: 'tooltipster-shadow',
            interactive: true,
            contentAsHTML: true,
            speed: 100,
            content: $(itemInCart),
            contentCloning: false
        });
    </script>
    {% endif%}

{% endif %}

{# JS page #}
{% block page_js %}{% endblock %}
</body>
</html>
