{% extends "hb.html" %}

{% block page_title %}Huugbaan{% endblock %}
{% block page_js %}
    <script src="/pages/site/index/index.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/site/index/index.css"/>{% endblock %}
{% block page_content %}
    <style>
    .card {
        background-color: white;
    }

    .card.products img {
        width: inherit;
        height: 150px;
        margin-top: 1.0rem;
    }

    .card img {
        width: inherit;
        height: auto;
        margin-top: 1.0rem;
    }

    .card h6 {
        padding: 0px;
    }

    .card p {
        text-overflow: ellipsis; 
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 50px;
        display: block;
        text-indent: 3rem;
    }

    div.column.card {
    }


    .side-menu {
        padding: 1.0rem;
        height: calc(100% - 1.2rem);
    }

    #main-wrapper {
        padding-bottom: 1.2rem;
    }

    #main-container {
        background-color: white;
    }

    .side-content, .main-content {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        background-color: white;
        padding-bottom: 1.8rem;
    }

    .side-content {
        margin-right: 1rem;
    }


    </style>
    <div id='main-wrapper' class="container">
        <div class='row'>
            <div class='column column-20 side-content'>
                <div class='side-menu'>
                    {% block side_block %}
                    <h5>Filter</h5> 
                    {% endblock %}
                </div>
            </div>

            <div id='main-container' class='column column-80 main-content'>
                {% block main_block %}
                {% endblock %}
            </div>

        </div>
    </div>
    </div>
{% endblock %}
