{% extends "bulma_layout.html" %}

{% block page_title %}403{% endblock %}
{% block page_content %}
    <div class="container">
        <section class='hero section is-medium'>
        <div class='hero-body'>
            <div class='notification is-danger'>
                <h1 class='title'>403 Error</h1>

                <p>Sorry, you don't have permission to access on this.</p>
            </div>
        </div>
        </section>
    </div>
{% endblock %}
