{% extends "bulma_layout.html" %}

<!--
<link rel="stylesheet" href="/static/css/jssocials.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/static/css/jssocials-theme-classic.css" type="text/css" media="screen" charset="utf-8">
-->

{% block page_js %}
<!-- <script src="/static/js/jssocials.min.js"></script> -->
    <script type="text/javascript" charset='utf-8'>
        $(".social-shares").each(function(){
            console.log(this.dataset)
            $(this).jsSocials({
                url: document.location.origin + this.dataset.url,
                text: this.dataset.text,
                showLabel: false,
                showCount: false,
                shareIn: 'popup',
                shares: ["facebook", "twitter", "googleplus"]
            });
        });
    </script>
{% endblock %}

{% block page_content %}
    <div class='container' style='padding-top: 1.3em;'>
        <div class='columns'>
            <!-- side filter -->
            <div class='column is-one-quarter is-info'>
                <section class='section'>
                <div class='container'>
                    <h1 class='menu-label'><a href='{{ url_for("scene_controller.index", scene_style_id=filter_style_id) }}'>Type</a></h1>
                    <ul class='menu-list'>
                    {% for t in types %}
                    <li><a {% if filter_type.id == t.id %} class='is-active' {% endif %}
                               href='{{ url_for("scene_controller.index", scene_type_id=t.id, scene_style_id=filter_style_id) }}'>{{ t.name }}</a></li>
                    {% endfor %}
                    </ul>

                    <hr/>

                    <h1 class='menu-label'><a href='{{ url_for("scene_controller.index", scene_type_id=filter_type_id) }}'>Style</a></h1>
                    <ul class='menu-list'>
                    {% for t in styles %}
                    <li><a {% if filter_style.id == t.id %} class='is-active' {% endif %}
                                href='{{ url_for("scene_controller.index", scene_style_id=t.id, scene_type_id=filter_type_id) }}'>{{ t.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                </section>
            </div>
            <!-- main list item -->
            <div class='column'>
                <section class='section'>
                <div class='container'>
                    <div class='content'>
                        <h2>{{ total }} 
                            {% if filter_style %} {{ filter_style.name }} {% endif %} 
                            {% if filter_type %} {{ filter_type.name }} {% endif %} 
                            Design Photos
                        </h2>
                    </div>

                    <nav class='nav'>
                        <div class='nav-left'>
                            <p class="nav-item control">
                              <span class="select">
                                <select>
                                  <option>Most All Time Like</option>
                                  <option>New Update</option>
                                  <option>Most Like in Day</option>
                                </select>
                              </span>
                            </p>
                        </div>
                        <div class='nav-right'>
                            <nav class='nav-item pagination'>
                                <a class='button' href='#'>Prev</a>
                                <a class='button' href='#'>Next</a>
                            </nav>
                        </div>
                    </nav>

                    <hr/>

                    <!-- listing -->
                    <div class="container">
                    {% for s in scenes %}
                        <div class='columns'>
                            <!-- left listing -->
                            <div class='column'>
                                <a href='{{ url_for("scene_controller.show", sid=s.id) }}' class='title is-6'>
                                    <figure class='image' style='margin-bottom: .3em;'>
                                        <img src='/scene_images/{{s.uri}}' />
                                    </figure>
                                </a>
                            </div>

                            <!-- right listing -->
                            <div class="column is-3" style='height: inherit; position: relative;'>
                                <div class='content'>
                                    <a href='{{ url_for("scene_controller.show", sid=s.id) }}' class='title is-5' >
                                        {{ s.name | truncate(100) }}
                                    </a>
                                </div>
                                <div class='content'>
                                    {% for style in s.styles %}
                                        <span class='tag is-info is-small'>{{ style.name }}</span>
                                    {% endfor %}
                                </div>
                                <div class='content' style='position: absolute; bottom: 1em;'>
                                    <p>{{ s.description | truncate(325) }}</p>
                                    <div class='social-shares' 
                                         class='float-left' 
                                         data-text="{{ s.name }} - {{ s.description | truncate(70) }}"
                                         data-url='{{ url_for("scene_controller.show", sid=s.id) }}'></div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
