{% extends "bulma_layout.html" %}
{% from "app_widget.html" import ideabook_form_modal, init_ideabook_form_modal_js %}

{% block page_css %}
    {{ super() }}
    <style type='text/css' media='screen'>
        a.disabled {
            pointer-events: none;
        }

        .image-wrapper {
            padding: 1.3rem;
            text-align: center;
        }

        img.taggd {
            cursor: pointer;
            width: 100%;
        }

        .taggd-wrapper {
            position: relative;
            margin: 0 auto;
        }

        .button-small {
            font-size: .8rem;
            height: 2.8rem;
            line-height: 2.8rem;
            padding: 0 1.5rem;
        }

        .btn-pic-action {
            position: relative;
            margin-top: -15px; 
        }

        .btn-pic-action-wrapper {
            margin-top: 1.3rem;
            margin-left: 0.3rem;
        }

        div.product-list-wrapper {
            padding-top: 1.3rem;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class='columns'>
            <div class='column is-two-thirds is-fullheight'>
                <figure class='image-wrapper image'>
                    <div class='taggd-wrapper'>
                        <img class='taggd' src="/scene_images/{{ scene.uri }}">
                    </div>
                </figure>
            </div>
            <div class='column'>
                <section class='section'>
                    <div class='content'>
                        <h2>{{ scene.name }}</h2>
                        <nav class='nav'>
                            <div class='nav-left'>
                                <div id='social-shares' 
                                     class='float-left' 
                                     data-text="{{ scene.name }} - {{ scene.description | truncate(70) }}"
                                     data-url='{{ url_for("scene_controller.show", sid=scene.id) }}'></div>
                            </div>
                            <div class='nav-right'>
                                {% if current_user.is_authenticated %}
                                    {% if current_user.has_scene(scene.id) %}
                                        <div class='btn-pic-action-wrapper float-right'>
                                            <a id='btn-action-ideabook' class='button button-outline btn-pic-action remove-action'>Remove From Ideabook</a>
                                        </div>
                                    {% else %}
                                        <div class='btn-pic-action-wrapper float-right'>
                                            <a id='btn-action-ideabook' class='button btn-pic-action'>Save To Ideabook</a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class='btn-pic-action-wrapper float-right'>
                                        <a id='btn-action-ideabook' class='button is-info btn-pic-action'>Save To Ideabook</a>
                                    </div>
                                {% endif %}
                            </div>
                        </nav>
                        <p>{{ scene.description }}</p>
                    </div>
                    <hr/>
                    <details class='content' open>
                        <summary><span class='title is-4'>Products in Photo</span></summary>
                        <p>
                        <div class='columns is-multiline'>
                        {% for product in scene.products %}
                            <div class='column is-half'>
                                <figure class='image is-4by3'>
                                    <img class='scene-image' src='{{ product.master_image["uri"] }}' />
                                </figure>
                                <div class='content'>
                                    <a href='{{ url_for("product_controller.show", product_id=product.id)}}'>
                                        <strong class='subtitle is-6' 
                                                style='word-wrap: break-word; width: inherit;'>{{ product.name_en }}</strong>
                                    </a><br/>
                                    <strong>{{ product.sample_price | baht }}</strong></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        </p>
                    </details>
                    <hr/>
                    {% if scene.related_products %}
                    <details class='content' open>
                        <summary><span class='title is-4'>Related Products<span></summary>
                        <p>
                        <div class='columns is-multiline'>
                        {% for rp in scene.related_products %}
                        <div class='column is-4'>
                            <figure class='image is-4by3'>
                                <img class='scene-image' src='{{ rp.master_image["uri"] }}' />
                            </figure>
                            <div class='content'>
                                <a href='{{ url_for("product_controller.show", product_id=rp.id)}}'>
                                    <strong class='subtitle is-6' style='word-wrap: break-word; width: inherit;'>{{ rp.name_en }}</strong>
                                </a><br/>
                                <strong>{{ rp.sample_price | baht }}</strong></a>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                        </p>
                    </details>
                    <hr/>
                    {% endif %}
                    {% if scene.related_scenes %}
                    <details class='content' open>
                        <summary><span class='title is-4'>Related Photos<span></summary>
                        <p>
                        <div class='columns is-multiline'>
                        {% for s in scene.related_scenes %}
                            <div class='column is-4'>
                                <figure class='image is-4by3'>
                                    <img class='scene-image' src='/scene_images/{{ s.uri }}' />
                                </figure>
                                <div class='content'>
                                    <a href='{{ url_for("scene_controller.show", sid=s.id)}}'>
                                        <strong class='subtitle is-6' style='word-wrap: break-word; width: inherit;'>{{ s.name }}</strong>
                                    </a><br/>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <p>
                    </details>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
    {{ ideabook_form_modal(ideabooks, "scene", scene.id) }}
{% endblock %}

{% block page_js %}
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

        // taaggin data
        var data = [];
        {% for sp in scene.scenes_products %}
        data.push({
            id: {{ sp.id }},
            product_id: {{ sp.product_id }},
            x: {{ sp.pos_x / 10000.0 }},
            y: {{ sp.pos_y / 10000.0 }},
            text: "{{ sp.product.name_en }}"
        });
        {% endfor %}

        var taggd = $('.taggd').taggd({ 
                align: { x: 'center', y: 'center' },
                offset: { top: 25, left: 0 },
                handlers: {
                    mouseenter: 'show',
                    mouseleave: 'hide'
                }
            }, data);

        // init social sharing
        var _social_shares_ctx = $('#social-shares')[0];
        $("#social-shares").jsSocials({
            url: document.location.origin + _social_shares_ctx.dataset.url,
            text: _social_shares_ctx.dataset.text,
            showLabel: false,
            showCount: false,
            shareIn: 'popup',
            shares: ["facebook", "twitter", "googleplus"]
        });

        // remove from ideabook action
        $('#btn-remove-from-ideabook').click(function(){
            var self = $(this)
            self.addClass('disabled');
            setTimeout(function(){
                self.removeClass('disabled');
            }, 3000);
        });

        // save to ideabook
        {{ init_ideabook_form_modal_js("#btn-action-ideabook") }}
    });
    </script>
{% endblock %}
