html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button.no-border {
    border: 0px;
}

#header-menu-wrapper {
    border-bottom: 1px solid #ccc;
}

#main {
    background-color: white;
}

.title {
    font-weight: bold;
}

/** menu **/

.menu li {
    list-style: none;
    display: inline-box;
    float: left;
    margin-right: 0.3rem;
}

.menu li a {
    margin-left: 0.5rem;
}

.menu .button {
    margin: 0px;
    padding: 0.3rem;
    margin-left: 0.7rem;
}

.row.menu {
    margin-top: 0.7rem;
}

li.search {
    width: 57%;
    margin-left: 1.5rem;
}

li.search input {
    padding: 0.7rem;
    padding-left: 3.7rem;
    width: 100%;
}

li.cart {
    margin-left: 1.2rem;
}

a.icon-search {
    position: relative;
    top: -4.8rem;
    left: 0.7rem;
}

.menu ul {
    width: 100%;
    height: 20px;
}

li#username {
    margin-left: 0.3rem;
}

a.username {
    display: block;
    margin-top: 0.5rem;
}

.menu-sub {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
}

.menu-sub li {
    border-top: 3px solid white;
    text-align: center;
    margin-top: 0.2rem;
    padding: 1.2rem;
    padding-top: 0.7rem;
}

.menu-sub li:not(:first-child) {
}

.menu-list li:hover {
    border-top: 3px solid #aaa;
    text-align: center;
}

.menu-list li a.custom {
    border: 0px;
}
/**/

ul.username {
    position: absolute;
    background-color: red;
    width: inherit;
    height: 100%;
    padding: 2rem;
}

div.username-submenu {
    position: relative;
    background-color: transparent;
    width: inherit;
    margin-top: -3.3rem;
    display: none;
    height: 100px;
    border-top: 5px solid #ccc;
    padding-top: 1.7rem;
}

ul.submenu {
    display: block;
}

ul.submenu li {
    float: none;
    cursor: pointer;
    text-align: right;
    background-color: white;
    margin: 0.3rem;
    margin-left: -2.3rem;
    width: 130px;
    padding: 0px;
}

.flash-message {
  background-color: #3fa7cb;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.page-site-index #nav-index a,
.page-site-about #nav-about a,
.page-account-signin #nav-signin a,
.page-account-signup #nav-signup a {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-form {
  margin: 10px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
}

/* FORM */
input[disabled]{
    background-color: #eee;
}

fieldset {
    border-top: 1px solid #ccc;
}

legend {
    font-style: italic;
}

label {
    font-weight: normal;
    font-size: 0.7em;
}
