/*
 *            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
 *                    Version 2, December 2004
 *
 * Copyright (C) 2014 Tim Severien
 *
 * Everyone is permitted to copy and distribute verbatim or modified
 * copies of this license document, and changing it is allowed as long
 * as the name is changed.
 *
 *            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
 *   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
 *
 * 0. You just DO WHAT THE FUCK YOU WANT TO.
*/

@font-face {
  font-family: 'taggd';
  src: url('../fonts/taggd.eot');
  src: url('../fonts/taggd.eot#iefix') format('embedded-opentype'),
       url('../fonts/taggd.woff') format('woff'),
       url('../fonts/taggd.ttf') format('truetype'),
       url('../fonts/taggd.svg#taggd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.taggd-wrapper {
	overflow: hidden;
	position: relative;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-item {
    background-color: rgba(219, 50, 92, 0.75);
	cursor: pointer;
	display: block;
	padding: 10px;
	z-index: 100;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.taggd-wrapper .taggd-item.active,
.taggd-wrapper .taggd-item:hover { background-color: rgba(219, 50, 92, 0.75); }

.taggd-wrapper .taggd-item-hover {
    background-color: rgb(219, 50, 92);
	color: transparent;
	cursor: default;
	display: block;
    font-weight: lighter;
	opacity: 0;
	overflow: hidden;
	padding: 0 10px;
	z-index: 999;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:none;
}

.taggd-wrapper .taggd-item-hover.show {
	color: #fff;
	opacity: 1;
	padding: 10px;
	z-index: 1000;
	display: block;
}

.taggd-wrapper .taggd-item-hover input {
	background-color: transparent;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-item-hover button {
	background-color: #fff;
	border: 0;
	color: rgb(219, 50, 92);
	font-family: 'taggd', sans-serif;
	font-size: 0.666em;
	height: 1.5em;
	line-height: 1;
	margin: 0 0 0 0.25em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 1.5em;
	
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-editor {
	position: absolute;
}
