{% macro field_errors(field) %}
    <ul class="list-form-errors text-danger list-unstyled">
        <li>{{ field.errors[0] }}</li>
    </ul>
{% endmacro %}


{% macro vertical_field(field) %}
    <div class="form-group clearfix">
        {{ field.label() }}
        {{ field(class="form-control", placeholder=field.description, **kwargs) }}
        {% if field.errors %}
            {{ field_errors(field) }}
        {% endif %}
    </div>
{% endmacro %}


{% macro simple_field(field, render_label=True) %}
    <div class='form-group'>
    {% if render_label %}
    {{ field.label() }} {% if field.flags.required %} <font color='red'>*</font> {% endif %}
    {% endif %}
    {{ field(class="form-control", placeholder=field.description, **kwargs) }}
    {% if field.errors %}
        {{ field_errors(field) }}
    {% endif %}
    </div>
{% endmacro %}


{% macro trix_field(field) %}
    <div class='form-group'>
    {{ field.label() }} {% if field.flags.required %} <font color='red'>*</font> {% endif %}
    {{ field() }}
    <trix-editor input='{{ field.name }}'></trix-editor>
    {% if field.errors %}
        {{ field_errors(field) }}
    {% endif %}
    </div>
{% endmacro %}


{% macro row_field(field) %}
    <div class="row">
        {{ field(class="form-control", placeholder=field.description, **kwargs) }}
        {{ field_errors(field) }}
    </div>
{% endmacro %}


{% macro form_errors(form) %}
    <div class='column' style='text-align: center; padding: 2rem; color: red;'>
        {% for k in form.errors %}
            <div class='row'>
                {{ form.errors[k][0] }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}
