{% from 'admin/macros/_form.html' import simple_field, trix_field %}

{% macro scene_fields(form) %}
    {{ simple_field(form.scene_type) }}
    {{ simple_field(form.name) }}
    {{ simple_field(form.name_th) }}
    {{ simple_field(form.description) }}
    {{ simple_field(form.size) }}
    {{ simple_field(form.budget_type) }}
    {{ simple_field(form.styles) }}
    <div class='btn-group btn-group-sm'>
        <a class='btn btn-default set-to-all-styles-helper'>Set to all styles</a>
        <a class='btn btn-default clear-all-styles-helper'>Clear</a>
    </div>
    {{ simple_field(form.location) }}
    {{ simple_field(form.location_text) }}
    {{ simple_field(form.owner) }}
    {{ simple_field(form.designer) }}
    {{ simple_field(form.photo_by) }}
    {{ simple_field(form.uri) }}
{% endmacro %}

{% macro init_select_styles_js() %}

                var s2styles = $("#styles").select2({ 
                    placeholder: 'select to add a style',
                    escapeMarkup: function(m){ return m; }
                });

                $(".set-to-all-styles-helper").click(function(){
                    var opts = [];
                    s2styles.find("option").each(function(){
                        if($(this).val() != '') opts.push($(this).val());
                    })
                    s2styles.val(opts);
                    s2styles.trigger("change");
                    return false; 
                });

                $(".clear-all-styles-helper").click(function(){
                    s2styles.val([]);
                    s2styles.trigger("change");
                    return false; 
                });

{% endmacro%}

{% macro tagging_photo_style() %}
    .taggd {
        cursor: pointer;
        max-width: calc(100%)
    }

    .cover-modal {
        top: 0px;
        left: 0px;
        background-color: black;
        opacity: 0.3;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 199;
    }

    .mini-dialog {
        position: absolute;
        display: none;
        padding: .3rem;
        z-index: 200;
        background-color: #EEE;
    }

    .sel-products {
        min-width: 300px;
    }

    /* override disabled backgroup of select 2 */
    .select2-results .select2-disabled {
        background-color: #ddd !important;
    }
{% endmacro %}
