{% macro pagination(paginator) %}
    {% if paginator.pages > 1 %}
        <ul class='pagination pagination-sm'>
            {% if paginator.has_prev %}
                <li><a href="{{ url_for_other_page(paginator.prev_num) }}">上一页</a></li>
            {% endif %}

            {% for page in paginator.iter_pages() %}
                {% if page %}
                    {% if page != paginator.page %}
                        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><span>{{ page }}</span></li>
                    {% endif %}
                {% else %}
                    <li class="ellipsis"><span>...</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.has_next %}
                <li><a href="{{ url_for_other_page(paginator.next_num) }}">下一页</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro products_blocks_inline_css() %}
        img.products {
            width: 135px;
            height: 135px;
        }

        div.product-wrappers {
            font-size: 14px;

            margin: 0.3rem;
            margin-left: .15rem;
            padding: 0.7rem;
            border: 1px solid #ccc;
            line-height: 1.7rem;
        }

        .product-wrappers p {
            padding: 0px;
            maring: 0px;
        }

        .product-detail a {
            display: block;
            max-height: 3rem;
            min-height: 3rem;
            line-height: 1.5rem;
            word-wrap: break-word;
            overflow: hidden;
            width: 120px;
        }
{% endmacro %}

{% macro products_blocks(products) %}
    {% for p in products %}
        {% for img in p.images %}
            {% if p.images[img]["is_master"] %}
                <div class='product-wrappers float-left'>
                    <div class='product-img-wrap'>
                        <img class='products' src='{{ p.images[img]["mid_thumb_uri"] or p.images[img]["uri"] }}'>
                    </div>
                    <div class='product-detail'>
                    <a href='{{ url_for("product_controller.show", product_id=p.id) }}'>{{ p.name_en }}</a>
                    {% if p.variants %}
                    <small><b>{{ p.variants[0].price | baht }}</b></small>
                    {% else %}
                        <small><b>n/a</b></small>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}
