{% extends "bulma_layout.html" %}
{% from '_bulma_form.html' import b_vertical_field %}

{% block page_title %}HUUG.BAAN{% endblock %}

{% block page_js %}
    <script src="/pages/site/index/index.js"></script>
    <script src="/static/js/jquery.taggd.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('#slide-show').unslider({
                selectors: {
                    container: "ul:first",
                    slides: "li",
                }, 
                arrows: false,
                autoplay: true,
                delay: 5000,
                speed: 500
            });

            $('.card-images-slide').unslider({
                selectors: {
                    container: "ul:first",
                    slides: "li",
                }, 
                nav: true,
                arrows: false,
                autoplay: true,
                delay: 3000,
                speed: 500
            });

            $("#test-show").unslider({autoplay: true, nav: false, arrows: true});

            // init each photo tagging in slide
            {% for scene in scenes %}
                (function(){
                    var data = [];
                    {% for sp in scene.scenes_products %}
                        data.push({
                            id: {{ sp.id }},
                            product_id: {{ sp.product_id }},
                            x: {{ sp.pos_x / 10000.0 }},
                            y: {{ sp.pos_y / 10000.0 }},
                            text: "{{ sp.product.name_en }}"
                        });
                    {% endfor %}

                    $('#scene-photo-{{ scene.id }}').taggd({
                        align: { x: 'center', y: 'center' },
                        offset: { top: 25, left: 0 },
                        handlers: {
                            mouseenter: 'show',
                            mouseleave: 'hide'
                        },
                        afterUpdateDOM: function(){
                            // centering image using javascript
                            var jqPhoto = $('#scene-photo-{{ scene.id }}').parent();
                            var imgWidth = jqPhoto.width();
                            var frameImgWidth = jqPhoto.parent().width();
                            var space = (frameImgWidth - imgWidth);
                            jqPhoto.css("margin-left", (space/2)+"px");
                        }
                    }, data);
                })();
            {% endfor %}
        });
    </script>
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/static/css/libs/unslider-dots.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/taggd.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/pages/site/index/index.css"/>
     <style type="text/css" media="screen">
        .img-frame {
            width: 100%;
            height: 500px;
            white-space: nowrap;
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
        }

        img.taggd {
            display: block;
            cursor: pointer;
            max-height: 500px;
            vertical-align: middle;
        }

        .floater {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .slide-item .column:first-child { }

        #slide-show {
            padding: 1.3em;
        }

        .login-list li {
            padding: 0.2rem;
        }
     </style>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div id='slide-show' class='hero is-light is-bold is-large'>
            <ul class='slide-container'>
                {% for s in scenes %}
                <li class='slide-item'>
                    <div class='columns'>
                        <div class='column is-two-thirds'>
                            <a href="{{ url_for('scene_controller.show', sid=s.id) }}">
                                <div class='img-frame'>
                                    <img id='scene-photo-{{ s.id }}' class='taggd' src="/scene_images/{{ s.uri }}">
                                </div>
                            </a>
                        </div>
                        <div class='column'>
                            <section class='section' style='height: 500px;'>
                                <h1 class='header title is-4'>{{ s.name }}'s products</h1>
                                {% for product in s.products %}
                                    {% if loop.index0 % 3 == 0 %} 
                                        <div class='columns'>
                                    {% endif %}
                                        <div class='column'>
                                            <figure class='image is-4by3'>
                                                <img class='scene-image' src='{{ product.master_image["uri"] }}' />
                                            </figure>
                                            <div class='content'>
                                                <a href='{{ url_for("product_controller.show", product_id=product.id)}}'>
                                                    <strong class='subtitle is-6'>{{ product.name_en }}
                                                    </strong>
                                                </a><br/>
                                                <strong>{{ product.sample_price | baht }}</strong></a>
                                            </div>
                                        </div>
                                    {% if loop.index0 % 3 == 2 or loop.last %} 
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </section>
                        </section>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- login form -->
        {% if not current_user.is_authenticated %}
        <hr/>
        <div class='columns is-half'>
            <div class='column is-offset-3 is-3'>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                        <ul class='login-list'>
                            <li> <a class='button is-info is-fullwidth'  
                                    style='background-color: #3B5998;'
                                    href="{{ url_for("social.auth", backend="facebook") }}"><strong>Sign in with Facebook</strong></a> </li>
                            <li> <a class='button is-info is-fullwidth' 
                                    style='background-color: #DD4B39;'
                                    href="{{ url_for("social.auth", backend="google-oauth2") }}"><strong>Sign in with Google</strong></a> </li>
                        </ul>
                    </div>
                </section>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                        <div class='content has-text-centered'><h3 class='heading'>or Sign in with Email</h3></div>
                        <form class='container' method="post" action="{{ url_for('site.login') }}">
                            <div class='column'>
                                {{ signin_form.csrf_token() }}
                                {{ b_vertical_field(signin_form.email) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signin_form.password) }}
                            </div>
                            <div class='column'>
                                <button type="submit" name='submit' value='sign_in' class="button is-primary">Sign in</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <div class='column is-3'>
                <section class='section card is-fullwidth'>
                    <div class='container'>
                        <div class='content has-text-centered'><h3 class='heading'>Sign Up</h3></div>
                        <form class='container' method="post" autocomplete="off"
                            action="{{ url_for('site.login') }}">
                            <div class='column'>
                                {{ signup_form.csrf_token() }}
                                {{ b_vertical_field(signup_form.first_name) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.last_name) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.email) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.password) }}
                            </div>
                            <div class='column'>
                                {{ b_vertical_field(signup_form.repassword) }}
                            </div>
                            <div class='column'>
                                <button type="submit" name='submit' value='sign_up' class="button is-primary">Sign up</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        {% endif %}

        <hr/>

        {% if show_types %}
        <div class='columns'>
        {% for s in show_types %}
            <div class='column is-4'>
                <div class="card is-fullwidth" title="{{ s.description }}">
                    <div class='card-images-slide'>
                        <ul>
                        {% for scene in s.sample_scenes(3) %}
                        <li>
                            <div class='card-image'>
                                <a href='{{ url_for("scene_controller.show", sid=scene.id) }}'>
                                <figure class='image is-4by3'>
                                    <img src='/scene_images/{{ scene.uri }}'>
                                </figure>
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class='card-content'>
                        <a class='title is-6' href='{{ url_for('scene_controller.index', scene_type_id=s.id) }}'>
                            <i class='fa fa-home'></i>
                            {{ s.name }}</a>
                    </div>
                </div>
            </div>
            {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
