{% extends "layout.html" %}

{% block page_title %}500{% endblock %}
{% block page_content %}
    <div class="container">
        <section class='hero section is-medium'>
        <div class='hero-body'>
            <div class='notification is-danger'>
                <h1 class='title'>500 Error</h1>

                <p>Sorry, something went wrong with the server.</p>
            </div>
        </div>
        </section>
    </div>
{% endblock %}
