{% extends "admin/model/edit.html" %}
{% from 'admin/macros/_form.html' import simple_field, trix_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/libs/trix.css" type="text/css" media="screen" charset="utf-8">
    <style type="text/css" media="screen">
        #form-wrapper {
            padding-bottom: 1em;
        }

        .thumb-wrapper {
            margin-left: 1.2rem;
            padding: 0.3rem;
        }

        .thumb-wrapper input[type=checkbox] {
            margin-left: 1.2rem;
        }
    </style>

    <script src="/static/js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/libs/trix.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block edit_form %}
    <div id='form-wrapper'>
    <form class="admin-form form-horizontal" action='/admin/product/edit/?id={{ product.id }}' method='POST' enctype='multipart/form-data' >
        <div class='panel-body'>
            <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
            {{ form.id() }}
            {{ simple_field(form.name_en) }}
            {{ simple_field(form.name_th) }}
            {{ simple_field(form.product_code) }}
            {{ simple_field(form.brand, id='brand') }}
            {{ simple_field(form.styles) }}
            {{ trix_field(form.description_en) }}
            {{ trix_field(form.description_th) }}
        </fieldset>
        {% if product.properties %}
        <div class='panel panel-default'>
            <div class='panel-heading'><b><i>{{ product.prototype.name }}</i> Prototype</b></div>
            <div class='panel-body'>
                {% for attr in product.prototype.properties %}
                    <label>{{attr}}</label>
                    <input type='text' class='form-control' name="properties[{{ attr }}]" value="{{ product.properties[attr] }}">
                {% endfor %}
                {% for attr in product.prototype.optional_properties %}
                    <label>{{attr}}</label>
                    <select class='form-control' name="properties[{{ attr }}]">
                        <option value=""></option>
                        {% for value in product.prototype.optional_properties[attr] %}
                        <option value="{{value}}" {% if value == product.properties[attr] %} selected {% endif %} >{{value}}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
                <br/>
                {% for attr in product.prototype.choose_properties %}
                    <label>{{attr}}</label>
                    {% for value in product.prototype.choose_properties[attr] %}
                        <div>
                            <input type='radio' name='properties[{{attr}}]' value="{{value}}" {% if value == product.properties[attr] %} checked {% endif %} /> {{value}}
                        </div>
                    {% endfor %}
                {% endfor %}
                <br/>
                {% for attr in product.prototype.check_properties %}
                    {% if loop.index0 == 0 %}<strong>Check Attributes</strong>{% endif %}
                    <div><input type='checkbox' name='check_properties[{{attr}}]' value="{{attr}}" {% if product.properties[attr] %} checked {% endif %} /> {{attr}}</div>
                {% endfor %}
            </div>
        </div>
        <br/>
        {% endif %}
        <fieldset>
            <legend>Images of Product</legend>
            {% if product.images %}
            <div class='row'>
                {% for img in images %}
                <div class="pull-left thumb-wrapper">
                    <img src="{{ img['thumb_uri'] }}" title="{{ img['name'] }}" width='100px' height='100px' />
                    <div class='row'>
                        <input type='checkbox' name='remove_images' value="{{ img['name'] }}" />
                        <label>Delete</label>
                        <input type='radio' name='master_image' {% if img['is_master'] %} checked {% endif %} value="{{ img['name'] }}" />
                        <label title='Master'>M</label>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
            <hr/>
            <label>Add New Image</label>
            <font color='green'><small>accept format .png .jpg ({{ min_image_size[0]}}x{{ min_image_size[1] }})</small></font>
            <input id='images-upload' type='file' name='images[]' multiple>
            <div id='image-preview-wrapper' class='pull-left thumb-wrapper'>
            </div>
        </fieldset>
        <hr/>
        <div class="submit-rows">
            <input type="submit" class='btn btn-primary' name='submit' value='Save' />
            <input type="submit" class='btn btn-primary' name='submit' value='Save and continue' />
            <a href='/admin/product' class='btn btn-danger'>Cancel</a>
        </div>
    </form>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
    $(document).ready(function(){ 
        $('#styles').select2({
            placeholder: '-- please select a brand --',
            escapeMarkup: function(m){ return m; }
        });

        $('#brand').select2({
            placeholder: '-- please select a brand --',
            escapeMarkup: function(m){ return m; }
        });
		/* preview image */
		function previewImages(input) {
            var imgPreviewContainer = $('#image-preview-wrapper');

            var imgPreviewTemplate = `
                <div class='image-wrapper pull-left' id='<%= id %>'>
                    <img src='<%= imgSrc %>' width='150px' height='150px' style='margin-left: 0.3em;' /> 
                    <br/>
                    <input type='radio' name='master_image' value='<%= filename %>' style='margin-left:0.5em;' checked />
                    <label>M</label>
                    <hr/>
                </div>
            `;
            var imgHtmlFormated = _.template(imgPreviewTemplate);

            // clear all images
            imgPreviewContainer.html('');
            var alerted; // alert flag

            function _makePreviewImage(file){
                var reader = new FileReader();
                var imgHTML;
                var rid = 'id'+ parseInt(Math.random() * 10000);
                reader.onload = function(e){
                    imgHTML = imgHtmlFormated({ imgSrc: e.target.result, 
                                                id: rid,
                                                filename: file.name });
                    $(imgHTML).appendTo(imgPreviewContainer);
                }

                reader.onloadend = function(){
                    setTimeout(function(){
                        var image = new Image();
                        image.src = $(imgHTML).find('img')[0].src;
                        var w = image.width;
                        var h = image.height;
                        if(w < {{ min_image_size[0] }} || h < {{ min_image_size[1] }}) {
                            if(!alerted){
                                alerted = true;
                                imgPreviewContainer.html('<font color="red">'+file.name+' should have minimum size at {{ min_image_size[0]}}x{{ min_image_size[1] }}</font><br/>');
                                input.value = ''; // reset value for upload new items again
                            } else {
                                // append message
                                $("<font color='red'>"+file.name+" should have minumum size at {{ min_image_size[0]}}x{{ min_image_size[1] }}</font></br>").appendTo(imgPreviewContainer);
                            }
                        }
                    }, 500);
                }

                // start reading image
                reader.readAsDataURL(input.files[i]);
            }

            for(var i = 0; i < input.files.length; i++){
                _makePreviewImage(input.files[i]);
            }
		}

		$("#images-upload").change(function(){
            previewImages(this);
		});
    });
    </script>
{% endblock %}
