{% extends "admin/model/create.html" %}
{% from 'admin/macros/_form.html' import simple_field, trix_field %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/libs/trix.css" type="text/css" media="screen" charset="utf-8">
    <style type="text/css" media="screen">
        #form-wrapper {
            padding-bottom: 1em;
        }

        .thumb-wrapper {
            margin-left: 1.2rem;
            padding: 0.3rem;
        }

        .thumb-wrapper input[type=checkbox] {
            margin-left: 1.2rem;
        }
    </style>

    <script src="/static/js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/libs/trix.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block create_form %}
    <div id='form-wrapper'>
    <form class="admin-form form-horizontal" action='/admin/product/new/' method='POST' enctype='multipart/form-data' >
        <div class='panel-body'>
            <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
                {{ simple_field(form.name_en) }}
                {{ simple_field(form.name_th) }}
                {{ simple_field(form.product_code) }}
                {{ simple_field(form.brand, id='brand') }}
                {{ simple_field(form.styles) }}
                {{ trix_field(form.description_en) }}
                {{ trix_field(form.description_th) }}
                <div class='form-group'>
                    <label>Add Product Image</label>
                    <font color='green'><small>accept format .png .jpg ({{ min_image_size[0]}}x{{ min_image_size[1] }})</small></font>
                    <input id='images-upload' type='file' name='images[]' multiple>
                    <div id='image-preview-wrapper' class='pull-left thumb-wrapper'>
                    </div>
                </div>
        </div>
        <div id='product-attrs' class='panel panel-default'>
            <div class='panel-heading'><b>Prototype & Attributes</b></div>
            <div class='panel-body'>
                {{ simple_field(form.prototype, render_label=False, id='sel-prototype', style="margin:0 20px; padding: 0px; width: 300px;") }}
                <div class='product-attrs-container'></div>
                <div class='product-opt-attrs-container'></div>
            </div>
        </div>
        <br/>
        <div class="submit-rows">
            <button type="submit" class='btn btn-primary'>Create</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>

    var prototypes = {{ prototypes|tojson|safe }}

    $(document).ready(function(){

        $('#styles').select2({
            placeholder: '-- please select a brand --',
            escapeMarkup: function(m){ return m; }
        });

        $('#brand').select2({
            placeholder: '-- please select a brand --',
            escapeMarkup: function(m){ return m; }
        });

        $('#sel-prototype').select2({
            placeholder: "Please Select Prototyp" 
        });
        $('#sel-prototype').change(function(){
            // reset  
            $('.product-attrs-container').html('');

            var ptid = $(this).val();  
            var pt = prototypes.find(function(r){return r.id == ptid});

            if(!pt){
                // hide input attributes
                $('#product-attrs').hide()
                return false;
            } else $('#product-attrs').show();

            // create dynamic input
            var html = [];
            for(var i=0; i < pt.properties.length; i++){
                var prop = pt.properties[i];
                html.push("<label>"+prop+"</label>");
                html.push("<input class='form-control' type='text' name='properties["+ prop +"]'>");
            }
            
            // create optional properties
            for(var key in pt.optional_properties){
                if(pt.optional_properties.hasOwnProperty(key)){
                    var props = pt.optional_properties[key];
                    html.push("<label>"+key+"</label>");
                    html.push("<select name='properties["+key+"]' class='form-control'>");
                        html.push("<option value=''></option>");
                    for(var i=0; i < props.length; i++){
                        html.push("<option value='"+props[i]+"'>"+props[i]+"</option>");
                    }
                    html.push("</select>");
                }
            }

            // create choose properties
            for(var key in pt.choose_properties){
                if(pt.choose_properties.hasOwnProperty(key)){
                    var props = pt.choose_properties[key];
                    html.push("<label>"+key+"</label>");
                    var _name = "properties["+key+"]";
                    for(var i=0; i < props.length; i++){
                        var _checked = i == 0 ? 'checked': '';
                        html.push("<input type='radio' name='"+_name+"' value='"+props[i]+"' "+_checked+"/> " + props[i]);
                    }
                }
            }

            // create check properties
            for(var i=0; i < pt.check_properties.length; i++){
                if(i == 0){
                    html.push("<strong>Check Attributes</strong>")
                }
                var prop = pt.check_properties[i];
                html.push("<input type='checkbox' name='check_properties["+ prop +"]' /> " + prop);
            }

            var inputs = html.join('<br/>');
            $('.product-attrs-container').html(inputs);
        });

        $('#sel-prototype').trigger('change');

		/* preview image */
		function previewImages(input) {
            var imgPreviewContainer = $('#image-preview-wrapper');

            var imgPreviewTemplate = `
                <div class='image-wrapper pull-left' id='<%= id %>'>
                    <img src='<%= imgSrc %>' width='150px' height='150px' style='margin-left: 0.3em;' /> 
                    <br/>
                    <input type='radio' name='master_filename' value='<%= filename %>' style='margin-left:0.5em;' checked />
                    <label>Master</label>
                    <hr/>
                </div>
            `;
            var imgHtmlFormated = _.template(imgPreviewTemplate);

            // clear all images
            imgPreviewContainer.html('');
            var alerted; // alert flag

            function _makePreviewImage(file){
                var reader = new FileReader();
                var imgHTML;
                var rid = 'id'+ parseInt(Math.random() * 10000);
                reader.onload = function(e){
                    imgHTML = imgHtmlFormated({ imgSrc: e.target.result, 
                                                id: rid,
                                                filename: file.name });
                    $(imgHTML).appendTo(imgPreviewContainer);
                }

                reader.onloadend = function(){
                    setTimeout(function(){
                        var image = new Image();
                        image.src = $(imgHTML).find('img')[0].src;
                        var w = image.height;
                        var h = image.width;
                        if(w < {{ min_image_size[0] }} || h < {{ min_image_size[1] }}) {
                            if(!alerted){
                                alerted = true;
                                imgPreviewContainer.html('<font color="red">'+file.name+' should have minimum size at {{ min_image_size[0]}}x{{ min_image_size[1] }}</font><br/>');
                                input.value = ''; // reset value for upload new items again
                            } else {
                                // append message
                                $("<font color='red'>"+file.name+" should have minumum size at {{ min_image_size[0]}}x{{ min_image_size[1] }}</font></br>").appendTo(imgPreviewContainer);
                            }
                        }
                    }, 500);
                }

                // start reading image
                reader.readAsDataURL(input.files[i]);
            }

            for(var i = 0; i < input.files.length; i++){
                _makePreviewImage(input.files[i]);
            }
		}

		$("#images-upload").change(function(){
            previewImages(this);
		});
    });
    </script>
{% endblock %}
