{% extends "admin/model/edit.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css" media="screen">
    </style>
{% endblock %}

{% block edit_form %}
    <div id='form-wrapper'>
    <form class="admin-form form-horizontal" action='/admin/prototype/edit/?id={{ prototype.id }}' method='POST' enctype='multipart/form-data' >
        <fieldset>
            <legend>General</legend>
            <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
            <label for='name'>Name</label>
            <input type'text' value='{{ prototype.name }}' name='name' />
            <label for='name'>Properties [JSON FORMAT]</label>
            <textarea name='properties' placeholder="word with delimiter"></textarea>
        </fieldset>
        <br/>
        <div class="submit-rows">
            <button type="submit" class='btn btn-primary'>Edit</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
    $(document).ready(function(){

    });
    </script>
{% endblock %}
