{% extends "admin/model/create.html" %}
{% from 'admin/macros/_form.html' import simple_field, trix_field %}
{% from 'admin/macros/_scene.html' import tagging_photo_style, scene_fields, init_select_styles_js %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/taggd.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block create_form %}
    <form action="/admin/scene/new/" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
        <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
        {{ scene_fields(form) }}
        <br/>
        <div class='well image-preview-container'>
            <img class='taggd' src="" width='100%'/>
        </div>
        <hr/>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10 submit-row">
            <input type="submit" class="btn btn-primary" value="{{ _gettext('Save') }}" />
          </div>
        </div>
    </form>


    <style type="text/css" media="screen">
        {{ tagging_photo_style() }}
    </style>

    <div class='mini-dialog'>
        <select class='sel-products'>
            <option value=""></option>
        {% for p in products %}
            <option value="{{ p.id }}" {% if p.id in products_in_the_scene %} disabled {% endif %}>{{ p.name_en }}</option>
        {% endfor %}
        </select>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="/static/js/jquery.taggd.js"></script>
    <script>
    $(document).ready(function(){
        {{ init_select_styles_js() }}
        // init preview image event
        $('#uri').change(function(){
            var input = this;
            var imgPreviewContainer = $(".image-preview-container");
            var reader = new FileReader();
            var imgTag = $("<img id='preview-image' />");

            reader.onload = function(e){
                imgPreviewContainer.html('');
                imgTag.attr('src', e.target.result).appendTo(imgPreviewContainer);
                initTaggingPhoto();
            }

            reader.onloadend = function(){
                setTimeout(function(){
                    var image = new Image();
                    image.src = imgTag.attr('src');
                    var w = image.height;
                    var h = image.width;
                    if(w < {{ min_image_size[0] }} || h < {{ min_image_size[1] }}) {
                        imgPreviewContainer.html('<font color="red">'+input.files[0].name+' should have minimum size at {{ min_image_size[0]}}x{{ min_image_size[1] }}</font><br/>');
                        input.value = ''; // reset value for upload new items again
                    }
                }, 500);
            }

            // start reading image
            reader.readAsDataURL(this.files[0]);
        });
        // -----------------------------------------------

        // init tagging system
        // product select box
        var sp = $(".sel-products");
        sp.select2({ 
            placeholder: 'select to add a product',
            escapeMarkup: function(m){ return m; }
        });
        
        sp.on('select2-open', function(){
            sp.select2('val', ''); 
        });

        sp.on("select2-selecting", function(o){
            var product = null;
            for(var i = 0; i < products.length; i++){
                var p = products[i];
                if(p.id == o.val) {
                    product = p;
                    break;
                }
            }
            if(product){ 
                // prevent duplication select
                sp.find('option[value="'+product.id+'"]').attr('disabled', true)
                $('.cover-modal').trigger('click', [product]);
            }
        });

        var products = {{ _products|tojson|safe }}
        var data = [];

        var initTaggingPhoto = function(){
            // reset tags
            data = [];

            // remove image handler
            var timeoutId = 0;
            var taggd = $('#preview-image').taggd({ 
                    align: { x: 'center', y: 'center' },
                    offset: { top: 25, left: 0 },
                    handlers: {
                        mouseenter: 'show',
                        mouseleave: 'hide',
                        mousedown: function(e, o){
                            timeoutId = setTimeout(function(){
                                for(var i = 0; i < data.length; i++){
                                    var d = data[i];
                                    if(d.product_id == o.product_id){
                                        // remove tag from the scene
                                        data.splice(i, 1)
                                        taggd.setData(data);

                                        // enable option that has been selected
                                        sp.find('option[value="'+o.product_id+'"]').removeAttr('disabled');
                                        break;
                                    }
                                }
                            }, 1000)
                        },
                        mouseup: function(){
                            clearTimeout(timeoutId); 
                        }
                    }
                }, data);

            // bind create tag product event
            $('#preview-image').dblclick(function(e){
                var ox = $(this).width();
                var oy = $(this).height();
                var x = e.offsetX;
                var y = e.offsetY;
                var fx = x/ox;
                var fy = y/oy;
                var old = data;

                var d = {
                    id: null,
                    product_id: null,
                    x: fx,
                    y: fy,
                    text: 'new'
                };

                data.push(d); 

                taggd.setData(data);
                openAddProductModal(
                    e.pageY + 25, 
                    e.pageX - 150, 
                    function(isAdded, o){
                        if(isAdded){
                            // console.log("product", o);
                            // update product
                            data[data.length - 1].product_id = o.id;
                            data[data.length - 1].text = o.name_en;
                            taggd.setData(data);
                        } else {
                            data.pop();
                            taggd.setData(data);
                        }
                });
            });


            function openAddProductModal(t, l, cb){
                var md = $('.mini-dialog');
                md.css({top: t, left: l});
                var w = $(document).width();
                var h = $(document).height();

                $("<div class='cover-modal'></div>").click(function(){
                    $('.cover-modal').remove();
                    $('.mini-dialog').hide();
                    var o = arguments[1];
                    // select and close
                    if(o) cb(true, o);
                    else cb(false); 

                    return false;
                }).appendTo('body').width(w).height(h);

                md.show();
            }
        }

        // before submit form adding tagging to a hidden field
        $('form').submit(function(){
            console.log("data", data);
            $('<input type="hidden" name="scenes_products" />')
                .val(JSON.stringify({ data: data }))
                .appendTo($(this));
        });
    });
    </script>
{% endblock %}
