{% extends "admin/model/edit.html" %}
{% from 'admin/macros/_form.html' import simple_field, trix_field %}
{% from 'admin/macros/_scene.html' import tagging_photo_style, scene_fields, init_select_styles_js %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/taggd.css" type="text/css" media="screen" charset="utf-8">
    <style type="text/css" media="screen">
    {{ tagging_photo_style() }}
    </style>
{% endblock %}

{% block edit_form %}
    <form class="admin-form form-horizontal" action='/admin/scene/edit/?id={{ model.id }}' method='POST' >
        <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
        {{ scene_fields(form) }}
        <div class='well'>
            <img class='taggd' src="/scene_images/{{ model.uri }}" />
        </div>
        <div class="submit-rows">
            <button type="submit" class='btn btn-primary'>Save</button>
            <button type="submit" class='btn btn-primary'>Save And Continue</button>
            <a href='/admin/scene' class='btn btn-danger'>Cancel</a>
        </div>
    </form>

    <br/>
    <div class='mini-dialog'>
        <select class='sel-products'>
            <option value=""></option>
        {% for p in products %}
            <option value="{{ p.id }}" {% if p.id in products_in_the_scene %} disabled {% endif %}>{{ p.name_en }}</option>
        {% endfor %}
        </select>
    </div>

{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="/static/js/jquery.taggd.js"></script>
    <script>
    $(document).ready(function(){
        {{ init_select_styles_js() }}
        // references products
        var products = {{ _products|tojson|safe }}

        // taaggin data
        var data = [];
        {% for sp in model.scenes_products %}
        data.push({
            id: {{ sp.id }},
            product_id: {{ sp.product_id }},
            x: {{ sp.pos_x / 10000.0 }},
            y: {{ sp.pos_y / 10000.0 }},
            text: "{{ sp.product.name_en }}"
        });
        {% endfor %}

        var timeoutId = 0;
        var taggd = $('.taggd').taggd({ 
                align: { x: 'center', y: 'center' },
                offset: { top: 25, left: 0 },
                handlers: {
                    mouseenter: 'show',
                    mouseleave: 'hide',
                    mousedown: function(e, o){
                        timeoutId = setTimeout(function(){
                            for(var i = 0; i < data.length; i++){
                                var d = data[i];
                                if(d.product_id == o.product_id){
                                    // remove tag from the scene
                                    data.splice(i, 1)
                                    taggd.setData(data);

                                    // enable option that has been selected
                                    sp.find('option[value="'+o.product_id+'"]').removeAttr('disabled');
                                    break;
                                }
                            }
                        }, 1000)
                    },
                    mouseup: function(){
                        clearTimeout(timeoutId); 
                    }
                }
            }, data);


        $('.taggd').dblclick(function(e){
            var ox = $(this).width();
            var oy = $(this).height();
            var x = e.offsetX;
            var y = e.offsetY;
            var fx = x/ox;
            var fy = y/oy;
            var old = data;

            var d = {
                id: null,
                product_id: null,
                x: fx,
                y: fy,
                text: 'new'
            };

            data.push(d); 

            taggd.setData(data);
            openAddProductModal(
                e.pageY + 25, 
                e.pageX - 150, 
                function(isAdded, o){
                    if(isAdded){
                        // console.log("product", o);
                        // update product
                        data[data.length - 1].product_id = o.id;
                        data[data.length - 1].text = o.name_en;
                        taggd.setData(data);
                    } else {
                        data.pop();
                        taggd.setData(data);
                    }
            });
        });


        function openAddProductModal(t, l, cb){
            var md = $('.mini-dialog');
            md.css({top: t, left: l});
            var w = $(document).width();
            var h = $(document).height();

            $("<div class='cover-modal'></div>").click(function(){
                $('.cover-modal').remove();
                $('.mini-dialog').hide();
                var o = arguments[1];
                // select and close
                if(o) cb(true, o);
                else cb(false); 

                return false;
            }).appendTo('body').width(w).height(h);

            md.show();
        }


        // init select2 for products select
        var sp = $(".sel-products");
        sp.select2({ 
            placeholder: 'select to add a product',
            escapeMarkup: function(m){ return m; }
        });
        
        sp.on('select2-open', function(){
            sp.select2('val', ''); 
        });

        sp.on("select2-selecting", function(o){
            var product = null;
            for(var i = 0; i < products.length; i++){
                var p = products[i];
                if(p.id == o.val) {
                    product = p;
                    break;
                }
            }

            if(product){ 
                // prevent duplication select
                sp.find('option[value="'+product.id+'"]').attr('disabled', true)
                $('.cover-modal').trigger('click', [product]);
            }
        });


        // when form is submitted append tagged products in the scene
        $('form').submit(function(){
            $('<input type="hidden" name="scenes_products" />')
                .val(JSON.stringify({ data: data }))
                .appendTo($(this));
        });


        $('.btn-use-current-location').click(function(){
            var locationField = $('#location');
            locationField.val("waiting for access current location ...");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(pos){
                    locationField.val(pos.coords.latitude + "," + pos.coords.longitude);
                });
            } else { 
                locationField.val("Geolocation is not supported by this browser.");
            }
        });

    });
    </script>
{% endblock %}
