{% extends "bulma_layout.html" %}

{% block page_title %}404{% endblock %}
{% block page_content %}
    <div class="container">
        <section class='hero section is-medium'>
        <div class='hero-body'>
            <div class='notification is-danger'>
                <h1 class='title'>404 Error</h1>

                <p>Sorry, the page you requested was not found.</p>
            </div>
        </div>
        </section>
    </div>
{% endblock %}
