{% extends "bulma_layout.html" %}
{% from "_bulma_form.html" import b_vertical_field %}

{% block page_title %}EDIT PROFILE{% endblock %}

{% block page_content %}
    <div class="container">
        <section class='section'>
            <form id='user-profile' action='{{ url_for("user_controller.edit") }}' method='POST' >
                {{ form.csrf_token() }}
                <h2 class='subtitle'>Account Information</h2>
                <label class='label'>User Name</label>
                <p class='control'>
                    <input class='input' type='text' value='{{ user.username }}' disabled />
                </p>
                <label class='label'>Email</label>
                <p class='control'>
                <input class='input' type='text' value='{{ user.email }}' disabled />
                </p>

                <hr/>

                <h2 class='subtitle'>Profile Infomation</h2>
                {{ b_vertical_field(form.first_name) }}
                {{ b_vertical_field(form.last_name) }}

                <div class='actions'>
                    <input class='button is-primary' 
                           type='submit' 
                           value='Update' />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
