{% extends "bulma_layout.html" %}

{% block page_title %}HUUG.BAAN - Your Cart{% endblock %}
{% block page_js %}
    <script src="/pages/site/index/index.js"></script>
    <script type='text/javascript'>
(function(){

$('.update-qty').click(function(){
    var self = this;
    var inputQtyEl = this.previousElementSibling;
    var lineItemId = inputQtyEl.dataset.lineItemId;
    // ajax update line item
    $.ajax({
        url: '/cart/' + {{ cart.id }},
        type: 'put',
        data: JSON.stringify({ 
            qty: +(inputQtyEl.value), 
            line_item_id: +(lineItemId) 
        }),
        contentType: 'application/json',
        success: function(res){
            if(res.success){
                for(var id in res.result.summary_by_variant){
                    // update variants total
                    var variantEl = document.getElementById('variant-'+id + '-price');
                    $(variantEl).hide().fadeIn('slow');
                    variantEl.innerHTML = res.result.summary_by_variant[id].total;
                }
                updateSummayVendor(res.result.summary_by_vendor);
                g.updateCartItem(res.result.item_total);
                self.style.visibility = 'hidden';
            }
        }
    });

    return false;
});


// show update qty button when qty is changed
$('input.qty').change(function(){
    var btnUpdate = this.nextElementSibling;
    btnUpdate.style.visibility = 'visible';
});


$('.remove-item').click(function(){
    var self = this;
    var ans = confirm('Are you sure ?');
    if(ans){
        var lineItemId = +this.dataset.lineItemId;
        $.ajax({
            url: '/cart/remove_item/' + lineItemId,
            type: 'delete',
            contentType: 'application/json',
            dataType: 'json',
            success: function(res){
                if(res.success){
                    $(self).parents('tr').fadeOut('fast');
                    updateSummayVendor(res.result.summary_by_vendor);
                    g.updateCartItem(res.result.item_total);
                }
            }
        });
    }
});

// update display of summay vendor
function updateSummayVendor(summary_by_vendor){

    if(Object.keys(summary_by_vendor).length == 0){
        $(".summary-vendor").hide();
    }

    // reset in case remove products that cause some vendors empty
    {% for v in vendors %}
    document.getElementById('vendor-{{ v.id }}-price').innerHTML = "{{ 0|baht }}";
    {% endfor %}

    for(var id in summary_by_vendor){
        // update vendor total
        var vendorEl = document.getElementById('vendor-' + id + '-price');
        $(vendorEl).hide().fadeIn('slow');
        vendorEl.innerHTML = summary_by_vendor[id].total;
    }
}

})();
    </script>
{% endblock %}

{% block page_css %}
    <style>
        td.has-border-right {
            text-align: right;
            border-right: 1px solid #ccc;
        }
    </style>
{% endblock %}

{% block page_content %}
    <div class='container'>
        <section class='section'>
        <table class='table is-striped is-narrow'>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Qty</th>
                {% for v in vendors %}
                    <th style='text-align: center;'>{{ v.name_en }}</th>
                {% endfor %}
            </tr>
            {% if cart and cart.line_items %}
                {% for item in cart.line_items %}

                <tr>
                    <!-- acitons -->
                    <td style='width: 40px;'>
                        <a href='#' class='remove-item'
                                    alt='remove item'
                                    title='Remove Item'
                                    data-line-item-id='{{ item.id }}'>
                            <i class='fa fa-trash-o fa-2x'></i></a>
                    </td>

                    <!-- product -->
                    <td style='width: 150px;'>
                        <div style='width:150px;'>
                            <figure class='image is-92x92'>
                                <img src='{{ item.variant.product.master_image['thumb_uri'] }}' />
                            </figure>
                        </div>
                        <!-- product name -->
                        <strong>{{ item.variant.product.name_en }}</strong> 
                    </td>

                    <!-- qty -->
                    <td class='content has-centered-text has-border-right' width='80px;'>
                        <input class='input qty' type='number' 
                                data-line-item-id='{{ item.id }}' 
                                value='{{ item.qty }}' min=1 />
                        <a class='button is-info update-qty is-pulled-right' 
                           style='margin-top: 0.5rem; visibility: hidden;'
                           href='#'><small>Update</small></a>
                    </td>

                    <!-- vendor price -->
                    {% for v in vendors %}
                        {% for variant in item.variant.product.variants %}
                            {% if variant.vendor.id == v.id %}
                                <td class='has-border-right'>
                                    {{ variant.price|baht }}
                                    <br/>
                                    <strong id='variant-{{ variant.id }}-price'>{{ (variant.price * item.qty)|baht }}</strong>
                                </td>
                                {% break %}
                            {% else %}
                                {% if loop.last %}
                                    <td class='has-border-right'>-</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}

                <!-- summary by vendors -->
                <tfoot>
                <tr style='border-bottom-style: double; border-color: #ccc;'>
                    <th></th>
                    <th style='text-align: right;'>Total</th>
                    <th></th>
                    {% for v in vendors %}
                        <th style='text-align: right;'>
                            <strong id='vendor-{{ v.id }}-price'>{{ summary_by_vendor[v.id]['total'] | baht }}</strong>
                        </th>
                    {% endfor %}
                </tr>
                </tfoot>
            {% endif %}
        </table>
        </section>
        <!--
        <div class='columns' style='margin-top: 1.3rem;'>
            <div class='section column is-two-thirds'>
                <table class='table is-narrow'>
                    <thead>
                        <tr>
                            <th>Your Items</td>
                            <th>Qty</th>
                            <th>Price Detail By Vendor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cart and cart.line_items %}
                            {% for item in cart.line_items %}
                            <tr class='items'>
                                <td class='content' width='30%'>
                                    <figure class='image is-92x92'>
                                        <img src='{{ item.variant.product.master_image['thumb_uri'] }}' />
                                    </figure>
                                    <strong>{{ item.variant.product.name_en }}</strong> 
                                </td>
                                <td width='100px'>
                                    <input class='input qty' type='number' 
                                            data-line-item-id='{{ item.id }}' 
                                            value='{{ item.qty }}' min=1 />

                                    <a class='button is-info update-qty is-pulled-right' 
                                       style='margin-top: 0.5rem; visibility: hidden;'
                                       href='#'><small>Update</small></a>
                                </td>
                                <td class='content' width='auto'>
                                    {% for variant in item.variant.product.variants %}
                                        <div>
                                            <strong>{{ variant.vendor.presentation_en }}</strong> ({{ variant.price|baht }})
                                            <span id='variant-{{ variant.id }}'>{{ (variant.price * item.qty)|baht }}</span>
                                        </div>
                                    {% endfor %}

                                    <a href='#' class='remove-item is-pulled-right'
                                                data-line-item-id='{{ item.id }}'>
                                        <i class='fa fa-trash-o fa-2x'></i> remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class='column'>
                <div class='card box'>
                    <table class='table is-narrow'>
                        <thead>
                            <tr> 
                                <th>Vendor</th>
                                <th class='content has-text-right'>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vendor_id in summary_by_vendor %}
                                <tr class='summary-vendor'>
                                    <td>
                                        <small>{{ summary_by_vendor[vendor_id]['name'] }}</small>
                                    </td>
                                    <td class='content has-text-right'>
                                        <small id='vendor-{{ vendor_id }}'>{{ summary_by_vendor[vendor_id]['total']|baht }}</small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        -->
{% endblock %}
