{% extends "bulma_layout.html" %}

{% block page_content %}
<div class='container' style='padding-top: 1.3rem;'>
    <div class='columns'>
        <!-- filter -->
        <section class='column is-one-quarter section'>
            <h1>Filter</h1>
        </section>

        <!-- main result -->
        <section class='column section'>
                {% if not products and not scenes %}
                    <!-- not found anything -->
                    <div class='content'>
                        <h2>Result not found for "{{ search }}"</h2>
                    </div>
                {% endif %}

                {% if products %}
                    <div class='content'>
                        <h2>Result for <em>"{{ search }}"</em> <strong>{{ products | length}}</strong> found products</h2>
                    </div>
                    {% for product in products %}
                        <article class='media'>
                            <figure class='media-left'>
                                <p class='image is-128x128'>
                                    <img src="{{ product.master_image['uri'] }}" />
                                </p>
                            </figure>
                            <div class='media-content'>
                                <strong><a href='{{ url_for("product_controller.show", product_id=product.id) }}'>{{ product.name }}</a></strong>
                                <div class='trix-content'>{{ product.description|safe }}</div>
                            </div>
                        </article>
                    {% endfor %}
                    <hr/>
                {% endif %}
                {% if scenes %}
                    <div class='content'>
                        <h2>Result for <em>"{{ search }}"</em> <strong>{{ scenes | length}}</strong> found scenes</h2>
                    </div>
                    {% for scene in scenes %}
                        <article class='media'>
                            <figure class='media-left'>
                                <p class='image is-128x128'>
                                    <img src="/scene_images/{{ scene.uri }}" />
                                </p>
                            </figure>
                            <div class='media-content'>
                                <strong><a href='{{ url_for("scene_controller.show", sid=scene.id) }}'>{{ scene.name }}</a></strong>
                                <div class='trix-content'>{{ scene.description|safe }}</div>
                            </div>
                        </article>
                        {{ scene.name }}
                    {% endfor %}
                {% endif %}
        </section>
    </div>
</div>
{% endblock %}
